body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

.header--main {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.link--cta {
  color: aquamarine;
  font-size: 16px;
}

.header--secondary {
  color: white;
  font-weight: 300;
  font-size: 42px;
}

.description {
  color: gray;
  font-size: 21px;
}
